# Root-level
node_modules/
dist/
.env
.DS_Store
*.log

# Client (frontend)
client/node_modules/
client/dist/
client/.env
client/.DS_Store
client/.vite/
client/.cache/
client/coverage/

# Server (backend)
server/node_modules/
server/.env
server/.DS_Store
server/coverage/

# IDE/editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
